<h1>{{title}}</h1>
<p>Welcome, {{organiser.username}}!</p>

<ul>
    <li><a href="/courses/add">Add New Course</a></li>
     <li>
        <a href="/auth/manage-courses">Manage Courses</a>
    </li>
    <li><a href="/auth/add-organiser">Add New Organiser</a></li>
    <li>
        <a href="/auth/organiser-list">Manage Organisers</a>
    </li>
    <li>
        <a href="/auth/remove-user">Remove User</a>
    </li>
    <li><a href="/auth/logout">Logout</a></li>
</ul>
